.post-attachment-file {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 0;
    position: relative;
    width:50%
}

.post-attachment-file .file-name {
    margin-left: 4px;
    vertical-align: middle;
}

.post-attachment-file span.delete {
    position: absolute;
    right: 5px;
    top: 0;
}

.post-attachment-file span.delete a {
    background: url("img/delete.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
    width: 13px;
    vertical-align: middle !important;
}

.post-attachment-file span.delete a:hover {
    background-position: 0 -14px;
    vertical-align: middle !important;
}

a:link, a:visited {
    color: #0066CC;
    text-decoration: none;
}

a {
    outline: medium none;
}

.post-attachment-file img {
    vertical-align: middle !important;
}

.btn-input{
    background: none repeat scroll 0 0 #2782D6;
    border-color: #DDDDDD #264F6E #264F6E #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    height: 21px;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 1px 10px;
    text-align: center;
}

.attachment{
    margin-top: 13px;
    padding-top: 5px;
    border-top: 1px solid #DDDDDD;
}

.post-attachments-div {
    border: 1px dashed #D0CFCF;
    margin: 10px 10em 1em;
    padding: 0.5em;
}

.post-attachments-title{
    font-weight: bold;
}

.post-attachments-files img{
    vertical-align: middle !important;
    margin-right: 10px;
}

.post-attachments-files p {
    padding: 0px;
    margin: 5px 0px 0px 0px;
}