<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
	
	<import resource="spring-init.xml"/>
	
	<import resource="base/jobs.xml"/>
	<import resource="base/spring-hibernate.xml"/>
	
	<import resource="database/db-oracle.xml"/>
	
	<import resource="ioc/dao.xml"/>
	<import resource="ioc/service.xml"/>
	<import resource="ioc/controller.xml"/>
	
</beans>