<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/aop
         		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
         		http://www.springframework.org/schema/tx
           		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!-- hibernate对数据库的操作交给spring管理，这里是为spring管理hibernate对数据库操作的工具类进行注入 -->
	<bean id="genericHibernateDAOImpl" class="com.message.base.hibernate.impl.GenericHibernateDAOImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<!-- 资源文件进行注入 -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/loginJsp</value>
				<value>/WEB-INF/i18n/system</value>
				<value>/WEB-INF/i18n/event</value>
				<value>/WEB-INF/i18n/mail</value>
			</list>
		</property>
	</bean> -->
	
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location">
					<value>
						classpath:message_controllers.properties
					</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- 配置tiles页面解析器--> 
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.tiles2.TilesView</value>
		</property>
	</bean>
	
	<!-- tiles配置器-->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-defs/info/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/message/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/user/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/event/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/vote/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/menu/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/main-tiles-def.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 创建一个可以在项目类中获取applicationContext的bean -->
	<bean class="com.message.base.spring.ApplicationContextUtil"/>
	
	<bean id="applicationContextListener" class="com.message.base.spring.ApplicationContextListener"/>

	<!-- properties文件解析器 -->
    <bean id="propertiesConfig" class="com.message.base.utils.PropertiesFactoryBean">
        <property name="propertiesFilePath">
       		<value>/opt/config/message/root.properties</value>
        </property>
    </bean>

	<!-- 系统配置解析器 -->
    <bean id="systemConfig" class="com.message.base.utils.SystemConfig">
        <property name="configuration" ref="propertiesConfig"/>
    </bean>
    
    <!-- i18n国际化资源文件解析器 -->
    <bean id="messageUtils" class="com.message.base.utils.MessageUtils">
    	<property name="properties" ref="propertiesConfig"/>
    </bean>
    
    <!-- 系统是否开启debug功能,可以查看请求的详情 -->
    <bean id="debugRequestListener" class="com.message.base.spring.DebugRequestListener">
    	<property name="debug" value="true"/>
    </bean>
    
    <!-- 属性文件读入 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:messages.properties</value>
			</list>
		</property>
		<property name="properties" ref="propertiesConfig"/>
	</bean>

</beans>