<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/aop
         		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
         		http://www.springframework.org/schema/tx
           		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
	<!-- 创建一个可以在项目类中获取applicationContext的bean -->
	<bean class="com.message.base.spring.ApplicationContextUtil"/>
	
	<bean id="applicationContextListener" class="com.message.base.spring.ApplicationContextListener"/>

	<!-- properties文件解析器 -->
    <bean id="propertiesConfig" class="com.message.base.properties.PropertiesFactoryBean">
        <property name="propertiesFilePath">
       		<value>/opt/application/config/message/root.properties</value>
        </property>
    </bean>

	<!-- 系统配置解析器 -->
    <bean id="systemConfig" class="com.message.base.properties.SystemConfig">
        <property name="configuration" ref="propertiesConfig"/>
    </bean>
    
    <!-- i18n国际化资源文件解析器 -->
    <bean id="messageUtils" class="com.message.base.properties.MessageUtils">
    	<property name="properties" ref="propertiesConfig"/>
    </bean>
    
    <!-- 属性文件读入 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:messages.properties</value>
			</list>
		</property>
		<property name="properties" ref="propertiesConfig"/>
	</bean>
	
	<!-- log4j配置文件的载入 -->
	<bean id="log4JConfiguration" class="com.message.base.utils.Log4JConfiguration">
		<property name="location" value="file://${config.root}/log4j.properties"/>
	</bean>
	
</beans>