<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/aop
         		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
         		http://www.springframework.org/schema/tx
           		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!-- hibernate对数据库的操作交给spring管理，这里是为spring管理hibernate对数据库操作的工具类进行注入 -->
	<bean id="genericHibernateDAOImpl" class="com.message.utils.base.utils.impl.GenericHibernateDAOImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
    
    <!-- 引入外部的XML -->
    <import resource="admin/spring-admin.xml"/>
    <import resource="info/spring-info.xml"/>
    <import resource="message/spring-message.xml"/>
    <import resource="reply/spring-reply.xml"/>
    <import resource="user/spring-user.xml"/>
    <import resource="history/spring-history.xml"/>
    <import resource="spring-home.xml"/>

	<!-- 整合hibernate 开始 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>/WEB-INF/config/jdbc.properties</value>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<!-- 配置hibernate的映射文件 -->
				<value>com/message/main/admin/pojo/Admin.hbm.xml</value>
				<value>com/message/main/user/pojo/User.hbm.xml</value>
				<value>com/message/main/message/pojo/Message.hbm.xml</value>
				<value>com/message/main/reply/pojo/Reply.hbm.xml</value>
				<value>com/message/main/info/pojo/Info.hbm.xml</value>
				<value>com/message/main/history/pojo/UserLoginHistory.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">thread</prop> 
			</props>
		</property>
		<property name="lobHandler">
			<ref bean="oracleLobHandler"/>
		</property>
	</bean>
	
	<bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor"/>
	
	<bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler" lazy-init="true">
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor"/>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<aop:config>
		<aop:pointcut expression="execution(public * com.message.*.*.*.impl.*.*(..))" id="myPointcut"/>
		<aop:advisor advice-ref="advice" pointcut-ref="myPointcut"/>
	</aop:config>
	
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="nestedTransactionAllowed" value="true"/>
	</bean>
	<!-- 整合hibernate 结束 -->
	
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location">
					<value>
						classpath:message_controllers.properties
					</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- 配置tiles页面解析器--> 
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.tiles2.TilesView</value>
		</property>
	</bean>
	
	<!-- tiles配置器-->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-defs/admin/tiles-def.xml</value>
				<!--<value>/WEB-INF/tiles-defs/info/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/reply/tiles-def.xml</value>-->
				<value>/WEB-INF/tiles-defs/message/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/user/tiles-def.xml</value>
				<value>/WEB-INF/tiles-defs/main-tiles-def.xml</value>
			</list>
		</property>
	</bean>
	
	
	<!-- 资源文件进行注入 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/loginJsp</value>
				<value>/WEB-INF/i18n/message</value>
			</list>
		</property>
	</bean>
	
	<!-- 创建一个可以在项目类中获取applicationContext的bean -->
	<bean class="com.message.utils.ApplicationContextUtil"/>
	
</beans>