<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/aop
         		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
         		http://www.springframework.org/schema/tx
           		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    <!--<bean id="adminDAO" class="com.message.main.admin.dao.impl.AdminDAOImpl"></bean>
    
     hibernate对数据库的操作交给spring管理，这里是为spring管理hibernate对数据库操作的工具类进行注入 
	<bean id="springHibernateUtils" class="com.message.utils.spring.SpringHibernateUtils">
		<property name="genericHibernateDAO" ref="genericHibernateDAO"/>
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	 整合hibernate 开始 
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				 配置hibernate的映射文件 
				<value>com/message/main/admin/pojo/Admin.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	 代替了注入hibernateTemplate 
	<bean id="genericHibernateDAO" class="com.message.utils.spring.GenericHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<aop:config>
		<aop:pointcut expression="execution(public * com.message.board.*.dao.impl.*.*(..))" id="myPointcut"/>
		<aop:advisor advice-ref="advice" pointcut-ref="myPointcut"/>
	</aop:config>
	
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*" read-only="false" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="nestedTransactionAllowed" value="true"></property>
	</bean>
	 整合hibernate 结束 
	-->
	
	<!-- 创建一个可以在项目类中获取applicationContext的bean -->
	<bean class="com.message.base.ApplicationContextUtil"/>
	
	<!-- 资源文件进行注入 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/loginJsp</value>
				<value>/WEB-INF/i18n/message</value>
				<value>/WEB-INF/i18n/event</value>
			</list>
		</property>
	</bean>
	
</beans>