<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <bean id="messageDAO" class="com.message.main.message.dao.impl.MessageDAOImpl" parent="genericHibernateDAOImpl"/>
    
    <bean id="messageService" class="com.message.main.message.service.impl.MessageServiceImpl">
    	<property name="messageDAO" ref="messageDAO"/>
    	<property name="userService" ref="userService"/>
    	<property name="replyService" ref="replyService"/>
    	<property name="eventService" ref="eventService"/>
    </bean>
    
    <bean id="messageController" class="com.message.main.message.web.MessageController">
    	<property name="methodNameResolver">
    		<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
    			<property name="mappings">
    				<props>
    					<prop key="/message/listMessage.do">listMessage</prop>
    					<prop key="/message/inPublishMessageJsp.do">inPublishMessageJsp</prop>
    					<prop key="/message/saveMessage.do">saveMessage</prop>
    					<prop key="/message/listMessageAdmin.do">listMessageForAdmin</prop>
    					<prop key="/message/viewMessage.do">viewMessage</prop>
    					<prop key="/message/deleteMessage.do">deleteMessage</prop>
    					<prop key="/message/inDetailJsp.do">inDetailJsp</prop>
    					<prop key="/message/inListMyMessageJsp.do">inListMyMessageJsp</prop>
    				</props>
    			</property>
    		</bean>
    	</property>
    	<property name="messageService" ref="messageService"/>
    	<property name="userService" ref="userService"/>
    </bean>
</beans>