<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
	<bean id="homeController" class="com.message.main.home.web.HomeController">
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/home/index.do">index</prop>
						<prop key="/home/left.do">left</prop>
						<prop key="/home/top.do">top</prop>
						<prop key="/home/tail.do">tail</prop>
						<prop key="/home/inMessageIndex.do">inMessageIndex</prop>
					</props>
				</property>
			</bean>
		</property>
		<property name="historyService" ref="historyService"/>
	</bean>
</beans>
