<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <bean id="userDAO" class="com.message.main.user.dao.impl.UserDAOImpl" parent="genericHibernateDAOImpl"/>
    
    <bean id="userService" class="com.message.main.user.service.impl.UserServiceImpl">
    	<property name="userDAO" ref="userDAO"/>
    	<property name="historyService" ref="historyService"/>
    	<property name="messageService" ref="messageService"/>
    	<property name="eventService" ref="eventService"/>
    </bean>
    
    <bean id="userController" class="com.message.main.user.web.UserController">
    	<property name="methodNameResolver">
    		<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
    			<property name="mappings">
    				<props>
    					<prop key="/user/inLogin.do">inLoginJsp</prop>
    					<prop key="/user/login.do">userLogin</prop>
    					<prop key="/user/register.do">saveUser</prop>
    					<prop key="/user/check.do">checkUser</prop>
    					<prop key="/user/userInfo.do">showUserInfo</prop>
    					<prop key="/user/editUserInfo.do">inEditUserInfoJsp</prop>
    					<prop key="/user/saveUser.do">saveEdit</prop>
    					<prop key="/user/changePsw.do">inChangePswJsp</prop>
    					<prop key="/user/checkPsw.do">checkPsw</prop>
    					<prop key="/user/savePassword.do">savePassword</prop>
    					<prop key="/user/logout.do">logout</prop>
    					<prop key="/user/listAllUser.do">listAllUser</prop>
    					<prop key="/user/deleteUser.do">deleteUser</prop>
    					<prop key="/user/managerPerm.do">managerPerm</prop>
    				</props>
    			</property>
    		</bean>
    	</property>
    	<property name="userService" ref="userService"/>
    </bean>
    
</beans>