/*--design by forestgan-
create date aug. 8 2005
http://wwww.forest53.com
last edit Jul 11 2006
*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	font-size: 75%;
}

#pic{
	margin: 10px;
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: solid 5px #FFFFFF;
	float: left;
}

* html #pic{
	display: inline;
	width: 410px;
}

#album{
	width: 430px;
	background: #EEEEEE;
	margin: .5em auto;
	font-size: 100%;
	padding-bottom: 10px;
}
	
#desc{
	text-align: center;
	float: left;
	width: 430px;
}
	
#thumbs{
	clear: left;
	width: 400px;
	margin: 0 15px;
	overflow: auto;
	overflow-y: hidden;
	height: 70px;
}
	
#thumbs ul{
	width: 715px;
	padding: 5px 0;
}
	
#thumbs img{
	width: 60px;
	height: 50px;
}
	
#thumbs ul li{
	float: left;
	padding: 0 3px 0 2px;
}

#thumbs ul li a{
	background: transparent;
}

