@CHARSET "UTF-8";
#header{
	width: 100%;
	padding-bottom: 5px;
}

#header {
    position: relative;
    z-index: 100;
    *zoom: 1;
}

#header .image {
    position: absolute;
    left: 0px;
    top: 10px;
}

#header h2 {
    padding: 10px 0 5px 30px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    line-height: 24px;
    color: #000000 !important;
}

.actions {
    padding-left: 55px;
}