@CHARSET "UTF-8";
.title{
	color: red;
	font-family: "宋体";
	font-size: 12pt;
	font-weight: bold;
}

.textAreaCls{
	text-indent: 30px;
	border: 0;
	width: 600px;
	margin: 8px;
	height: 250px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	background: url(../image/wiseduimg/textarea_bg.gif) repeat;
	overflow: auto;
}

.content01{
	height: 260px;
	width: 610px;
	border-left: 1px solid #dad9d9;
	border-bottom: 1px solid #dad9d9;
	border-top: 1px solid #dad9d9;
	border-right: 1px solid #dad9d9
}