@CHARSET "UTF-8";
img{
    border-width: 0px !important;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input.text,
input.title,
textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../image/wiseduimg/input_bg.gif") repeat-x scroll center top #FFFFFF;
    border-color: #778899 #AABBCC #AABBCC #8899AA;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 4px 1px 3px 2px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
    border-color: #FF8800;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="url"]:hover,
input[type="email"]:hover,
input.text:hover,
input.title:hover,
textarea:hover {
    border-color: #FF8800;
}

textarea{
	resize: none;
}

.width200{
    width: 200px;
}

.width250{
    width: 250px;
}

.width300{
	width: 300px;
}

.width350{
	width: 350px;
}

.content01{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ADADAD;
    overflow: visible;
    top: -1px;
    word-wrap: break-word;
    min-height: 600px;
}

.content01 .top{
	background: none repeat scroll 0 0 #F5F5F5;
    padding-top: 0;
    position: relative;
}

.top ul:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.top ul {
    border-bottom: 1px solid #888888;
    padding: 15px 0 0 15px;
}

ul {
    font-family: Tahoma,Verdana,Arial,Simsun,sans-serif;
    margin: 0;
    padding: 0;
}

.top li.current {
    border-bottom: 1px solid #FFFFFF;
}

.top li {
    border: 1px solid #888888;
    display: inline;
    float: left;
    list-style: none outside none;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.top li {
    border: 1px solid #888888;
    display: inline;
    float: left;
    list-style: none outside none;
    margin-right: 8px;
    top: 1px;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top li.current a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #EEEEEE;
    color: #333333 !important;
    padding: 2px 15px;
    float: left;
    line-height: 120%;
}

.top li a {
    background: none repeat scroll 0 0 #999999;
    border-top: 1px solid #B5B5B5;
    color: #FFFFFF !important;
    float: left;
    line-height: 120%;
    padding: 2px 15px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

ul.navigation{
	list-style: none outside none;
	padding: 10px 0 5px 40px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    line-height: 24px;
    color: #000000 !important;
    font-weight: bold;
}

ul.navigation li{
	float: left;
    margin: 0 2px;
}

ul.navigation li.light{
	font-weight: lighter;
}

ul.navigation li.split {
	background: url("../image/album-terminal-v1.png") no-repeat scroll 0px -218px transparent;
    height: 22px;
    width: 20px;
}

.prompt {
    background: url("../css/base/img/prompt_bg.gif") repeat-x scroll center top #F4F1BC;
    border: 1px solid #E1BE55;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    margin-left: 0;
    padding: 0 3px;
    white-space: nowrap;
}

.top li.create{
	float: right;
	margin-right: 10px;
}

input.f-button{
	border-color: #DDDDDD #264F6E #264F6E #DDDDDD;
	border-width: 1px;
	border-style: solid;
	background: none repeat scroll 0 0 #2782D6;
	color: #FFFFFF;
	line-height: 17px;
	height: 21px;
	letter-spacing: 1px;
	padding: 1px 10px;
	text-align: center;
	cursor: pointer;
}

ul li, ol li{
	list-style: none;
	list-style-type: none;
}

.dialog{
	background: none !important;
	padding: 0px !important;
}