.back-to {
    position: fixed;
    bottom: 35px;
    right: 10px;
    z-index: 999;
    width: 110px;
    overflow: hidden;
    zoom: 1;
    -ie6-position-fixed-delay: 200
    }
* html .back-to {
    *position: expression(function(ele){ele.runtimeStyle.position='absolute';Expressions.style.position.fixed(ele);}(this))
    }
.back-to .back-home {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    background: url(/love/image/back-home.png) no-repeat 0 0;
    outline: 0 none;
    text-indent: -9999em
    }
.back-to .back-home:hover {
    background-position: -50px 0
    }
.back-to .back-top {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    background: url(/love/image/back-top.png) no-repeat 0 0;
    margin-left: 10px;
    outline: 0 none;
    text-indent: -9999em
    }
.back-to .back-top:hover {
    background-position: -50px 0
    }