html body{
	font-family: Tahoma,Verdana,Arial,Simsun,sans-serif;
}

a{
	outline: medium none;
}

a:link, a:visited{
	color: #0066CC;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.list ul{
	margin: 0;
	padding: 0;
}

.list ul li{
	margin-bottom: 1em;
	list-style: none outside none;
}

.messageDetail{
	min-height: 60px;
	padding-left: 60px;
	position: relative;
	width: 80%;
}

.messageDetail .image{
	margin-top: 0px;
	left: 0;
    position: absolute;
    top: 0;
}

.messageDetail .image img,.replyDiv .replyimage img{
	border: 0px;
	vertical-align: middle;
	width: 48px;
	height: 48px;
}

.messageDetail .head{
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #2782D6;
	color: #666666;
	padding: 3px 5px 2px 8px;
}

.messageDetail .head h4{
	margin-top: 2px;
	margin-bottom: 3px;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}

.messageDetail .head .author{
	margin-right: 0.5em;
	margin-top: 2px;
}

.messageDetail .head .info{
	color: #999999;
}

.info a {
	text-decoration: none;
}

.name{
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	width: 60px;
}

.list .content:after{
	clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.list .content{
	margin: 8px 5px 5px 8px;
}

.list .content p{
	font-size: 14px;
    margin-bottom: 0.25em;
}

.replyDiv,.toreplyDiv{
	margin-left: 0px; 
	margin-top: 5px; 
	border-top: 1px solid rgb(221, 221, 221); 
	padding-top: 5px;
	width: 450px;
}

.replyDiv .contentDiv{
	background: none repeat scroll 0 0 #EBF3F7;
    width: 450px;
    height: 84px;
}

.replyText{
	width: 360px;
	border: 1px solid black;
    color: black;
    height: 40px;
    margin: 4px;
    overflow-y: auto;
    font-size: 12px;
    line-height: 120%;
}

.toreplyDiv .contentDiv{
	background: none repeat scroll 0 0 #EBF3F7;
    width: 450px;
    height: 40px;
}

.toreplyText{
	border: 1px solid #BDC7D8;
    color: #888888;
    height: 20px;
    margin: 7px 0 7px 6px;
    overflow-y: auto;
    width: 433px;
}

.replyDiv .replyimage{
	float: left;
	margin: 4px 4px 4px 2px;
}

.buttonDiv{
	float: right;
	padding-right: 10px;
}

.buttonDiv input{
	border-color: #DDDDDD #264F6E #264F6E #DDDDDD;
	border-width: 1px;
	border-style: solid;
	background: none repeat scroll 0 0 #2782D6;
	color: #FFFFFF;
	line-height: 17px;
	height: 21px;
	letter-spacing: 1px;
	padding: 1px 10px;
	text-align: center;
	cursor: pointer;
}

.pipe{
	color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 0.4em;
}

img.imgLink {
	width: 15px; 
	height: 15px;
}