@CHARSET "UTF-8";
body{  
	background: url("../image/wiseduimg/module/top_bg.png") repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font: 12px/1.5 'lucida grande',tahoma,arial,'bitstream vera sans',helvetica,sans-serif;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 80%;
}
/**===========================================================================*/

.shortcut {
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    display: inline;
    float: right;
    
}

a:link, a:visited {
    text-decoration: none;
}

.shortcut a {
    float: left;
    height: 23px;
    margin-top: 5px;
    outline: medium none;
    text-decoration: none;
    width: 29px;
}

a {
    color: #0066CC;
    font-size: 12px;
    outline: medium none;
}

.shortcut .message:link {
    background: url("../image/head/header_shortcut_message.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .message:hover {
    background: url("../image/head/header_shortcut_message_over.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .system:link {
    background: url("../image/head/header_shortcut_system.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .system:hover {
    background: url("../image/head/header_shortcut_system_over.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .personal:link {
    background: url("../image/head/header_shortcut_personal.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .personal:hover {
    background: url("../image/head/header_shortcut_personal_over.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .skin:link {
    background: url("../image/head/header_shortcut_skin.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .skin:hover {
    background: url("../image/head/header_shortcut_skin_over.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .help:link {
    background: url("../image/head/header_shortcut_help.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .help:hover {
    background: url("../image/head/header_shortcut_help_over.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .exit:link {
    background: url("../image/head/header_shortcut_exit.gif") no-repeat scroll 0 0 transparent;
}

.shortcut .exit:hover {
    background: url("../image/head/header_shortcut_exit_over.gif") no-repeat scroll 0 0 transparent;
}

/**===========================================================================*/

.welcomeUser{
	float: left;
	padding-bottom: 0px;
	margin-left: 155px;
	margin-top: 39px;
	/* background-image: url('../image/main_05.gif'); */
	background-color: #196793;
	width: 810px;
	z-index: 1000;
	position:absolute;
}

body table{
	width: 100%;
	text-align: center;
	height: 30;
}

body table tr{
}

body table tr td{
}

body table tr td span{
	text-align: center;
	font-size: 12px;
	color: #FFFFFF
}

body table tr td span img{
	height: 16px;
	width: 16px;
	vertical-align: middle;
}