@CHARSET "UTF-8";
a:link, a:visited, a:active{
	color: #0066CC !important;
	text-decoration: none !important;
}

a:hover{
	text-decoration: underline !important;
}

#wrap:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#wrap {
    background: none repeat scroll 0 0 #F5F5F5;
    min-height: 601px;
    padding-bottom: 1px;
}

.il {
    list-style: none outside none;
    margin: 10px;
    padding: 5px 40px 5px 40px;
}

table {
    font-size: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    color: #0066CC;
}

li {
    list-style: none outside none;
}

.il div:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.il div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    padding: 10px;
}

.short2_people {
    position: relative;
}

.short2_people {
    height: 120px;
}

.people {
    height: auto;
}

.addChexbox {
    float: left;
    margin-right: 10px;
}

.il .image {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    overflow: hidden;
}

img {
    vertical-align: middle;
    border: 0 none;
}

.short2_people .info, .short2_people .info caption {
    width: 200px;
}

.il .info {
    float: left;
}

table.info caption, table.info1 caption {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 130%;
}

.people .info, .people .info caption {
    width: 470px;
}

table.info td{
	color: #000000;
}

table.info td.title{
	font-weight: bold;
}

.visitor_name, .online_width {
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
}

.il .actions {
    float: right;
    width: 100px;
}

ul.actions li {
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
    line-height: 175%;
    text-indent: 8px;
}

li {
    list-style: none outside none;
}

ul.actions {
    list-style: none outside none;
}

.il .info {
    float: left;
}

caption, th {
    text-align: left;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}

.short2_people .actions {
    float: none;
    position: absolute;
    right: 10px;
    width: 100px;
}

ul.actions {
    list-style: none outside none;
}

ul.actions li {
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
    line-height: 175%;
    text-indent: 8px;
}

ul.actions li a {
    display: block;
}

ul.actions li a:hover {
    background-color: #0066CC;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.yui-skin-sam .yui-panel .bd{
	padding-top: 1px;
}

tr.phone-num th {
    color: #888888;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    width: 4em;
}

.phone-num th, .phone-num td{
	font-style: normal;
	font-family: Tahoma,Verdana,Arial,Simsun,sans-serif;
    margin: 0;
    padding: 0;
}

.phone-num td {
    color: #0066CC !important;
}

.friend-group{
	float: right;
	border-width: 0px;
	border-left: 1px solid #888888;
	width: 200px;
	min-height: 600px;
	padding: 10px;
}

#friends-filter {
    margin-bottom: 10px;
    padding-top: 1px;
}

.h-filter {
    line-height: 20px;
}

.h-filter p.current {
    border: 1px solid #2782D6;
    padding: 0px;
}

.h-filter p.current a {
    background: none repeat scroll 0 0 #4B95E3;
    border-top: 1px solid #6FAAE9;
    line-height: 22px;
    display: block;
    padding-left: 10px;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.h-filter p, .h-filter h4, .h-filter ul li {
    border-bottom: 1px solid #DDDDDD;
}

.h-filter h4 {
    color: #666666;
    margin: 15px 0 0;
    padding-left: 10px;
}

#friends-filter ul li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 10px;
    cursor: pointer;
}

#friends-filter ul li a:hover, #friends-filter ul li:hover{
	background-color: #CCE5EF;
	text-decoration: none !important;
}

#friends-filter h5.add-group {
    background: url("../image/friend-groups-add.gif") no-repeat scroll 10px center transparent;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 100%;
    font-family: Tahoma,Verdana,Arial,Simsun,sans-serif;
    line-height: 20px;
}

#friends-filter ul li:hover .edit, #friends-filter ul li:hover .delete {
    cursor: pointer;
    display: inline;
    float: right;
    padding-right: 2px;
}

#friends-filter ul li .edit, #friends-filter ul li .delete {
    color: #90A4B8;
    display: none;
}

#wrap .il p.add-group {
}

span.add-group a:link, span.add-group a:active, span.add-group a:visited{
	
}

.link .addicon{
	background-image: url("../image/add.gif");
	background-position: 0 -8px;
    height: 8px;
    margin-right: 3px;
    width: 8px;
}

a.link:link, a.link:active, a.link:visited{
	background-color: #E3FFD5;
    border-color: #D5F7C5;
    color: #389A0A !important;
    margin-right: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
}

a.link:hover{
	background-color: #81D300;
	border-color: #4EC000;
	color: #FFFFFF !important;
	text-decoration: none !important;
}

a.link:hover .addicon{
	background-position: 0 0;
}

.friend-groups-setting-dialog{
	margin-top: 10px;
}

.friend-groups-setting-dialog h3 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.friend-groups-setting-dialog ul {
    display: inline;
    float: left;
    margin: 10px;
}

.friend-groups-setting-dialog li {
    display: inline;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 185px;
}

.friend-groups-setting-dialog input {
    margin-right: 3px;
    font-size: 12px;
    vertical-align: middle;
}

.friend-groups-setting-dialog h5 {
    background: url("../image/friend-groups-add.gif") no-repeat scroll 20px center transparent;
    clear: both;
    font-weight: normal;
    padding-left: 30px;
    font-family: Tahoma,Verdana,Arial,Simsun,sans-serif;
    margin: 0;
    font-size: 100%;
}

.friend-groups-setting-dialog p {
    margin: 10px 10px 0 0;
    color: #666666;
    text-align: right;
}