@CHARSET "UTF-8";

#header {
	padding-bottom: 0px !important;
}

.lm_tree_bg {
	left: 0;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.lm_tree_bg_left {
	background: url("../image/tree/treebg_left.gif") no-repeat
		scroll left top transparent;
	float: left;
}

.lm_tree_bg_left ul {
	width: 192px !important;
}

.l-tree {
	background: none repeat scroll 0 0 white;
	display: block;
	list-style: none outside none;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative;
}

.lm_tree_bg_center {
	background: url("../image/tree/treebg_center.gif") no-repeat
		scroll left top white !important;
	border-color: #CCD3D6 #CCD3D6 #E8EBEE #DDDFE2;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0 5px 5px !important;
	overflow: auto;
	padding-top: 3px !important;
}

.lm_tree_bg_right {
	background: url("../image/tree/treebg_right.gif") no-repeat
		scroll left top transparent;
	float: left;
	width: 5px;
}

.loading{
	padding-left: 20px; 
	padding-top: 3px;
	background: url("../image/tree/loading.gif") no-repeat scroll 0 0 transparent;
}

.dialog_table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
    color: #003399;
}

.dialog_table .text {
    color: #3A3A3A;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

.dialog_table td {
    border-bottom: 1px solid #EEEEEE;
    border-left: 0 none;
    border-right: 0 none;
    height: 22px;
    line-height: 22px;
    padding: 2px 4px 2px 6px;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.red {
    color: #D55111;
}

.dialog_table {
    border-collapse: collapse;
    color: #003399;
}

.icon_list a {
    border: 1px solid #CCCCCC;
    float: left;
    height: 16px;
    margin: 5px;
    padding: 11px;
    width: 16px;
    color: #0066CC;
    font-size: 12px;
    outline: medium none;
}

.icon_list a.selected {
    background: url("../image/tree/ico_selected_small.gif") no-repeat scroll right bottom transparent;
    border: 2px solid #FF9900;
    padding: 10px;
}

.icon_list a:hover {
    background: none repeat scroll 0 0 #FCCF76;
    border: 1px solid #FF9900;
}

.formFunctiondiv{
	margin: 10px 0px;
	text-align: center;
}