body,html {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: ����, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color: #505050;
	font-weight: normal;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-family: Arial, Helvetica, sans-serif;
	background-repeat:repeat-x;
}

h1,h2,h3,p,form,ul {margin: 0px; padding: 0px;}
h3 {font-size: 12px; display: inline;}
ul {list-style-type: none;}
img {vertical-align: middle; border: 0px none;}
html>body img {max-width: 100%; height: auto;}
img.imgLink {width: 15px; height: 15px;}
table {font-size: 12px; table-layout:fixed;}
td{word-break: break-all;}

.msgArea {				/* ������ʾ���� */
	clear:both;
	width: 620px;
	position:relative;
	margin:1 auto;
	text-align: left;
	border:#D56000 3px solid;
}

.msgArea-left {			/* ͷ�񡢳ƺ� */
	float: left;
	margin: 0px 0px 0px 3px;
	padding: 2px;
}

.msgArea-left ul {
	list-style-type: none;
}

.msgArea-left li {
	width: 90px;
	text-align: center;
}

.userFace {
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #FFFFFF;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}

.face-normal {
	border: 0px;
	width: 80px;
	height: 80px;
}

.userName {
	margin: 10px 0px 10px 0px;
	color: #454545;
}

.userName-whisper {
	color: #BEBEBE;
}


.msgArea-right {	/* ���⡢ʱ�䡢�������ݡ��ظ� */
	float: right;
	width: 490px;
	margin: 0px 5px 10px 5px;
}


.msgTitle {
	clear: both;
	margin: 0px 4px;
	font-weight: bold;
}

.msgTime {
	float: left;
	margin: 0px 0px 0px 2px;
	margin-left: 4px;
}

.userContact {
	float: right;
	margin: 0px 6px 0px 0px;
	width: 200px;
	text-align: right;
	line-height: 2px;
}

.userContact a{
	text-decoration: none;
}

.msgContent {
	clear: both;
	margin: 3px 4px 5px 6px;
	padding-top: 8px;
	border-top: 1px dashed #C9C9C9;
	white-space: normal;
	word-wrap: break-word;
}

.msgArea-clear {
	clear: both;
	visibility: hidden;
}